@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

body{
	background: linear-gradient(to right, #e3f2f1, #bfd4d3);
	 background-image: url("images/Backgrond_image.jpg");
	background-color: #cccccc;
}

.wrapper{
	margin: 0 10px;
}

.wrapper_inner{
	position: relative;
	max-width: 1250px;
	width: 100%;
	height: 700px;
	background: #fff;
	margin: 30px auto;
	border-radius: 25px;
	display: flex;
}

.vertical_wrap{
	position: relative;
	height: 100%;
}

.vertical_bar{
	width: 250px;
	background: #3d5654;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
}

.vertical_bar .profile_info{
	text-align: center;
	padding: 50px 25px;
}

.vertical_bar .profile_info img{
	width: 75px;
}

.vertical_bar .profile_info .title{
	font-size: 20px;
	letter-spacing: 2px;
	color: #c99c33;
	font-weight: 700;
}

.vertical_bar .profile_info .sub_title{
	font-size: 14px;
	color: #fff;
}

.vertical_bar .menu{
	padding-left: 25px;
}

.vertical_bar .menu li a{
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.vertical_bar .menu li a .icon{
	color: #c99c33;
	width: 25px;
    display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active{
	background: #fff;
	color: #3d5654;
}

.vertical_bar .social{
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50px;
}

.vertical_bar .social li a{
	width: 50px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 10px;
}

.vertical_bar .social li a:hover{
	color: #c99c33;
	background: #fff;
}

.main_container{
	width: calc(100% - 250px);
}

.main_container .top_bar{
	height: 60px;
	background: #425c5a;
	border-top-right-radius: 25px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
}

.top_bar .hamburger{
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}

.top_bar .logo{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c99c33;
}

.top_bar .logo span{
	color: #fff;
}
.pag{
	text-align: justify;
	font-style: normal;
	font-weight: lighter;
	
	font-variant: normal;
}
.un{
	text-decoration: underline;
	color: blue;
	font-size: 14px;
}
.main_container .container{
	padding: 25px;
	height: calc(100% - 60px);
	overflow: auto;
	
	
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  
  font-size: 16px;
  resize: none;
  display: inline-block;
}
.main_container .container .itemse{
	background: #e3f2f1;
	padding: 50px;
	margin-bottom: 25px;
	border-radius: 25px;
}
.item1{
	text-align: center;
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
	border-radius: 50%;
	
}
.item11{
	text-align: center;
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
	border-radius: 50%;
	overflow: auto;
	opacity: 1.0;
}
.item11:hover {
  opacity: 0.5;
}
.videoTest > video{
    
    margin:0;
    padding:10px; 
	height:auto;
	width:100%;
	box-shadow:1px 2px 10px 5px gray;
}
.imageview >img{
	padding:10px; 
	height:auto;
	width:100%;
	box-shadow:1px 2px 10px 5px gray;
	
}
.AV{
	padding:10px;
	
}
.contantcontact{
	margin:0;
	background-color:#e3f2f1;
	border-radius: 25px;
	padding:10px;
	height:auto;
	width:100%;
	position: relative;
	box-shadow:1px 2px 10px 5px gray;
	box-shadow:1px 2px 5px 1px gray;
	
}

.Textformat{
	padding:10px;
	height:auto;
	width:auto;
	animation-name: example;
	font-style: italic;
}
.content{
	padding: 15px 25px;
	overflow: auto;
	height:500px;
	box-shadow:1px 2px 10px 5px lite-blue;
}.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: auto;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



@media (max-width: 768px){
	.top_bar .hamburger{
		display: inline-block;
	}
	.vertical_wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar{
		position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container{
		width: 100%;
	}
	.main_container .top_bar{
		border-top-left-radius: 25px;
	}
	.wrapper.active .vertical_wrap{
		visibility: visible;
	}
	.wrapper.active .vertical_bar{
		left: 0;
		transition: left 0.2s linear;
	}
}


.slider{
	max-width: 700px;
	box-shadow:1px 2px 10px 5px gray;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}

.sd{
	max-width: 700px;
	box-shadow:1px 2px 10px 5px gray;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.sd .l-s,.sd .r-s{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.sd .l-s:hover,.sd .r-s:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.sd .l-s{
	left: 30px;
}
.sd .r-s{
	right: 30px;
}
.sd .sd-items .it img{
	max-width: 100%;
	display: block;
	animation:zoommm 1s ease;
}

@keyframes zoommm{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.sd .sd-items .it{
	display: none;
	position: relative;
}

.sd .sd-items .it.act{
	display: block;
}

.caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 15px;
font-style: italic;

}

.imageviewss{
	padding:10px; 
	height:auto;
	width:100%;
	box-shadow:1px 2px 10px 5px gray;
	opacity: 1.0;
}